.educationHead{
    background-color: #3FACEA;
    height: 10rem;
}

.educationHead .educationTitle{
    font-size: 40px;
    text-align: center;
    margin:auto;
    padding: 3rem;
}

.educationSchools{
    margin: 2rem;
}

.educationSchools .schoolPics{
    position: relative;
    top: 20px;
    margin: 10px;
    padding: 10px;
}

img{
    border: 5px solid #006F73;
    float: left;
}

h2{
    float:none;
    text-indent: 20px;
}

p{
    float:none;
    position: relative;
    right: -20px;
}

