.opener{
    background-image: url('../images/backgroundImg.jpg');
    width: 100%;
    height: 20rem;
    overflow: hidden;
    display: flex;
}

.opener .personName{
    font-size: 40px;
    color: #FC8D68;
    text-align: center;
    margin:auto;
}

.aboutMeSection{
    margin: auto;
    width: 80%;
}

.aboutMeSection .aboutMeHead{
    color:#FC8D68;
    margin: auto;
    text-align: center;
    padding: 10px;
}