body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #002D0B;
    color: #68FC8B;
}

.mainNav{
    background-color:#FCF068
}

.mainNav ul{
    display: flex;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.mainNav a{
    color: #b82b00;
    text-decoration: none;
    padding: 11px;
}

.mainNav a:hover{
    background-color: #FC68B4
}